* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/* UTILITY */
.w100 {
    width: 100%;
}
.hvh {
    height: 100vh;
}

/* BODY */

/* MAIN */
