* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/* UTILITY */
.vw {
    width: 100vw;
}
.w100 {
    width: 100%;
}

/* BODY */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* MAIN */
main {
    display: flex;
    flex-grow: 1;
}

main .aside-bar {
    width: 250px;
    flex-shrink: 0;
    background-color: #000000;
}

main .main-content {
    background-color: #141922;
}








/* FOOTER */
footer {
    background-color: #282828;
}