* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/* UTILITY */

.w100 {
    width: 100%;
}

/* BODY */
body {
    height: 100vh;
}

/* MAIN */
main {
    height: calc(100% - 90px);
    background-color: royalblue;
}

main .aside-bar {
    background-color: salmon;
    width: 250px;
    flex-shrink: 0;
}

main .main-content {
    background-color: sandybrown;
    overflow-y: scroll;
}







/* FOOTER */
footer {
    background-color: #282828;
    height: 90px;
}